.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .glass {
    position: relative;
    width: 200px;
    height: 300px;
    background: linear-gradient(to bottom, #c9e0c9, #ceedd0);
    border: 1px solid rgba(40, 84, 72, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 10px;
    margin: 0 -100px;
    backdrop-filter: blur(5px);
    transform: rotate(calc(var(--r) * 1deg));
}

.container:hover .glass {
    transform: rotate(0deg);
    margin: 0 10px;
    gap: 10px;
}

img {
    width: 90%;
    height: 90%;
}

.container .glass::before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #eeefed;
    /* Light green background */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0a0a0a;
    font-weight: bold;
    font-size: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}